*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#navbar{
    position: sticky;
    top:0; 
    right:0; 
    z-index: 100;
    padding: 1% 1%; 
    box-shadow:5px 5px 20px rgba(0, 0, 0,.5);
    background-color: black;
}
.navbar .navbar-brand{
     font-size: 30px;
     font-weight:800;
     color:rgb(197, 33, 12) !important;
     /* important- bootsrap color default a irukum atha remove pani antha color heighlight a kata */
}
#navbarNav a{
   color:#fff;
   border-bottom:2px solid transparent ;
   /* transparanet-use pana kila curser kondu pogum pothu kudukura color la show agum */
}
#navbarNav a:hover{
    border-bottom: 2px solid rgb(212, 25, 25);
}
#navbarNav button{
    border-radius: 15px;
    color:black;
}
section{
    width:100%;
    min-height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
}
#home{
    /* background gradient -pota light pic vulla poi kudkura color show agum */
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(cakes-img/cabackg.jpg);
     background-size: cover;
     background-position: center;
     flex-direction: column;
}
#home h1{
    font-size: 100px;
    color:white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* text shadow cmt */
    text-shadow: 0px 1px 0px #ccc;
                  
}
#home .input-group{
    width:40%;
    height:40px;
}
.signin{
    background-color: rgb(209, 5, 5) !important;
    color:white !important;
}
#about{
    background: linear-gradient(rgb(129, 6, 26));
}
#about h1{
    font-weight: 800;
    font-size: 50px;
}
#product{
    background:#e5e5e5;
}
#product h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#product img {
    /* margin: 70px; */
    height:200px;
}
.card{
    width:250px;
    height:250px;
    background: #efefef !important;
    border: none;
    box-shadow:15px 20px 20px rgba(0,0,0,rgba(0,0,0,.3)) ;
    margin: 20px 0;
}
.box{
    width:80% !important;
 }
 form{
    display: flex;
    flex-direction: column;
    
 }

 #contact .form-control{
    margin:10px 0px;
 }
 #contact textarea{
    margin: 10px 0px;
 }
 footer{
    text-align: center;
    height:10%;
    background-color: black;
    padding: 10px;
 }